<div class="row">
  <div class="col-md-6">
    <h3>Wednesday, April 27, 2021</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:00 - 12:10 pm</td>  <td>Introductions and hellos</td> </tr>
      <tr> <td>12:10 - 1:00 pm</td>  <td>Intro to Markdown and Read Me documentation; create a GitHub repository and build a Markdown cheatsheet</td> </tr>
      <tr> <td>1:00 - 1:45 pm</td>  <td>Bring an existing GitHub repository into RStudio; create an RMarkdown document</td> </tr>
      <tr> <td>1:45 - 2:00 pm</td>  <td>Break</td> </tr>
      <tr> <td>2:00 - 2:40 pm</td>  <td>Download, quality check, and report on streamflow data using RMarkdown</td> </tr>
      <tr> <td>2:40 - 3:55 pm</td>  <td>Revise report and share results via GitHub; if time, create dygraphs</td> </tr>
      <tr> <td>3:55 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00 pm</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
