<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers. You don't need to have any previous knowledge of open science workflows to attend this workshop. However, you do need to have some knowledge of R. This workshop assumes that you are able to:
  <ul>
  <li id="who">Navigate the RStudio environment and install packages and libraries</li>
  <li>Set your working directory</li>
  <li>Read csv and other files into R as objects</li>
  <li>Manipulate dataframes using tidyverse tools and concepts</li>
  <li>Pipe commands</li>
  <li>Print and summarize data</li>
  <li>Plot a basic chart using ggplot2</li>
  </ul>

  If you’re unsure whether you have enough experience to participate in this workshop, please review
    <a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">this introductory R lesson material</a>. If most of these concepts are familiar to you, you should be able to participate fully in this workshop.
  </p>
